.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mt-15 {
  margin-bottom: 20px;
}

.fa.fa-times-circle.pull-right {
  cursor: pointer;
}

.fa.fa-times-circle.pull-right:hover {
  color: red;
}

.sort_selected ::after {
  content: '\f00c';
  font-weight: bold;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}